<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="src/modules/login/user.ctrl.js"></script>
<div ng-controller="userCtrl as userCtrl">
    <div class="container" id="c"ng-hide="userCtrl.editMode">
        <section id="content" >
            <form action="#" ng-submit="userCtrl.login()" >
                <h2>Login</h2>
                <div>
                    <input class = "form-control" type="text" placeholder="Username"   id="username" ng-model="usuarioing" required/>
                </div>
                <div>
                    <input class = "form-control" type="password" placeholder="Password"  id="password" ng-model="passing" required/>
                </div>
                <input  class = "form-control" type="submit" value="Iniciar Sesion" >
            </form>
            <br>
            
            <form>
             <button class = "form-control" value="No Registrado? Registrate!" ng-click="userCtrl.cambioAReg()"> No Registrado? Registrate! </button>
            </form>
            
        </section>
        
    </div>

    <div class="container" id="wrapper" ng-show="userCtrl.editMode">
        
        <form class="form" ng-submit="userCtrl.reg(currentRecord)">
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                <h2>Registrarse</h2>
                <label>Nombre :</label>
                <input class = "form-control" type="text"  id="name" ng-model="currentRecord.nombre"required>
                
                <label>Correo:</label>
                <input class = "form-control" type="text" name="demail" id="email" ng-model="currentRecord.mail"required>
                
                <label>Clave :</label>
                <input class = "form-control" type="password" id="password" ng-model="currentRecord.password"required>
                
                <label>Confirmar Clave:</label>
                <input class = "form-control" type="password" name="cpassword" id="cpassword" ng-model = "currentRecord.cpassword" required>
                
                <input  class = "form-control" type="submit" value="Registrar" >
            </form>
            
         <input class = "form-control"  type="submit" value="Ya Registrado? Inicia Sesión!" ng-click="userCtrl.cambioALogeo()"  />
       
    </div>
</div>