<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


<div ng-controller="userCtrl as userCtrl">
    <div class="container" id="c"ng-hide="userCtrl.editMode">
        <section id="content">
            <form action="" ng-submit="userCtrl.login()" >
                <h2>Login</h2>
                <div>
                    <input type="text" placeholder="Username"   id="username" ng-model="usuarioing" required/>
                </div>
                <div>
                    <input type="password" placeholder="Password"  id="password" ng-model="passing" required/>
                </div>
                <input type="submit" value="Iniciar Sesion" >
            </form>
        </section>
    </div>

    <div class="container" id="wrapper" ng-show="userCtrl.editMode">
        <form class="form" ng-submit="userCtrl.reg(currentRecord)">
            <input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
                <h2>Registrarse</h2>
                <label>Nombre :</label>
                <input type="text"  id="name" ng-model="currentRecord.nombre"required>
                <br>
                <label>Correo:</label>
                <input type="text" name="demail" id="email" ng-model="currentRecord.mail"required>
                <br>
                <label>Clave :</label>
                <input type="password" id="password" ng-model="currentRecord.password"required>
                <br>
                <label>Confirmar Clave:</label>
                <input type="password" name="cpassword" id="cpassword" ng-model = "currentRecord.cpassword" required>
                <input type="submit" value="Registrar" >
            </form>
    </div>
</div>