/AngularJS/nbproject/private/
/Frontend/nbproject/private/
/Backend/RoyalVacations.logic/target/
Backend/RoyalVacations.services/target/RoyalVacations.services-1.0-SNAPSHOT/WEB-INF/lib/RoyalVacations.logic-1.0-SNAPSHOT.jar
*.jar