<div ng-controller="itineraryCtrl as itineraryCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Itinerario</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="itinerary-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="itineraryCtrl.editMode" ng-click="itineraryCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear</button>
					<button class="btn btn-default navbar-btn" ng-hide="itineraryCtrl.editMode" ng-click="itineraryCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refrescar</button>             
					<button class="btn btn-default navbar-btn" ng-show="itineraryCtrl.editMode" ng-click="itineraryCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
					<button class="btn btn-default navbar-btn" ng-show="itineraryCtrl.editMode" ng-click="itineraryCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="itineraryCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
                                        <th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
					<td>{{record.nombre}}
					<td>
						<button class="btn btn-default btn-sm" ng-click="itineraryCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
						<button class="btn btn-default btn-sm" ng-click="itineraryCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Borrar</button>
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li><a href="#/entretenimiento">Ver entrenimientos</a></li>
                                                </ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="itineraryCtrl.editMode">
		<form name="countryForm" role="form">
			<input id="name" class="form-control" type="hidden" ng-model="currentRecord.id"/>
			<div class="form-group">
				<label for="name">Nombre</label>
				<input id="name" class="form-control" type="text" ng-model="currentRecord.nombre"/>
			</div>
		</form>
	</div>
</div>
