<div ng-controller="eventoVisitaCtrl as eventoVisitaCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Eventos</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="eventoVisita-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="eventoVisitaCtrl.editMode" ng-click="eventoVisitaCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
					<button class="btn btn-default navbar-btn" ng-hide="eventoVisitaCtrl.editMode" ng-click="eventoVisitaCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
					<button class="btn btn-default navbar-btn" ng-show="eventoVisitaCtrl.editMode" ng-click="eventoVisitaCtrl.guardar(currentRecord.visita, currentRecord.evento)"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
					<button class="btn btn-default navbar-btn" ng-show="eventoVisitaCtrl.editMode" ng-click="eventoVisitaCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="eventoVisitaCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Evento</th>
					<th>Fecha</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
                                        <td>{{eventoVisitaCtrl.geteventoName(record.evento)}}</td>
                                        <td>{{eventoVisitaCtrl.geteventoDate(record.evento)}}</td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="eventoVisitaCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
						<button class="btn btn-default btn-sm" ng-click="eventoVisitaCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="eventoVisitaCtrl.pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
	</div>
	<div ng-show="eventoVisitaCtrl.editMode">
		<form name="ciudadForm" role="form">
			<input id="nombre" class="form-control" type="hidden" ng-model="currentRecord.id"/>
			<div class="form-group">
				<label for="evento">Evento</label>
				<select id="evento" class="form-control" ng-options="evento.id as evento.name for evento in eventoRecords" ng-model="currentRecord.evento"></select>
                        </div>
			<div class="form-group">
				<label for="visita">Visita</label>
				<select id="visita" class="form-control" ng-options="visita.id as visita.id for visita in visitaRecords" ng-model="currentRecord.visita"></select>
                        </div>

		</form>
	</div>
</div>